<% if(theme.uyan.enable && is_post()){ %>
    <div id="uyan_frame"></div>
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=<%= theme.uyan.uyan_id %>"></script>
<% } else if(theme.gitment.enable && is_post()) { %>
    <script type="text/javascript" src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
    <script>
    var gitment = new Gitment({
        id: window.location.pathname,
        owner:"<%= theme.gitment.owner%>",
        repo:"<%= theme.gitment.repo%>",
        oauth: {
          client_id:"<%= theme.gitment.client_id%>",
          client_secret:"<%= theme.gitment.client_secret%>"
        },
        perPage:"<%= theme.gitment.perPage%>",
    });
    gitment.render('comments');
    </script>
<% } else { %>
   <p>评论系统未开启，无法评论！</p>
<%}%>

<!-- <% if (is_post()) { %>

  <div class="comments-header">
    <h3 class="comments-title title">留言板</h3>

    <div class="j_nologin comments-header-right">
      <a href="javascript:void;" class="btn btn-default j_login">Login With GitHub</a>
    </div>

    <div class="j_userinfo comments-header-right">
      <img class="comments-avatar" src="https://avatars1.githubusercontent.com/u/18444796?s=100&v=4" alt="">
      <span class="comments-username">pspgbhu</span>
      <a href="javascript: void;" class="logout">登出</a>
    </div>
  </div>

<% } %> -->
